@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.container {
	
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 0.5rem;
}

#cursortext {
	font-family: 'Inconsolata', monospace;
	font-size: 3rem;
	font-weight: bold;
	letter-spacing: .15rem;
	text-align: center;
	color: #FFFFFF;
}

.typed-text {
	color: #00FFFF;
}

.cursor {
	display: inline-block;
	width: 3px;
	background-color: #00FFFF; 
	margin-left: .1rem;
	animation: blink 1s infinite;
}

.cursor.typing{
	animation: none;
}

@keyframes blink {
	0% { background-color: #00FFFF; }
	49% { background-color: #00FFFF; }
	50% { background-color: transparent; }
	99% { background-color: transparentk; }
	100% { background-color: #00FFFF; }	
}